deprecated==1.2.13
elasticdeform==0.4.9
geomloss==0.2.4
ipython==7.29.0
matplotlib==3.5.0
nibabel==3.2.1
numpy==1.21.4
plyfile==0.7.4
pyntcloud==0.1.5
pytorch3d==0.5.0
pyvista==0.32.1
scipy==1.7.2
skimage==0.0
torch==1.10.0
torch_geometric==2.0.2
torch_sparse==0.6.12
tqdm==4.62.3
trimesh==3.9.35
wandb==0.12.6
